# emacs backup files
*~

# Misc tags/ctags files
tags
TAGS
TAGS_sorted_by_file

# googletest files
source_downloads

# Vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Configuration files for Visual Studio Code
.vscode/

*.cmake
Makefile
*.txt
*.in
*.a
Doxyfile
Docs/*
bin
CMakeFiles
archive_output_directory
VERSION.dep
debian/
extra/libedit/common.h
extra/libedit/emacs.h
extra/libedit/fcns.c
extra/libedit/fcns.h
extra/libedit/help.c
extra/libedit/help.h
extra/libedit/makelist
extra/libedit/vi.h
extra/libevent/include/evconfig-private.h
extra/libevent/include/event2/event-config.h
extra/zlib/zconf.h
include/binlog_config.h
include/config.h
include/my_config.h
include/mysql_version.h
include/mysqlclient_ername.h
include/mysqld_ername.h
include/mysqld_errmsg.h
include/mysqld_error.h
lib
libmysql/api_test.c
libmysql/libmysql.ver
libmysql/libmysql_api_test.out
libmysql/libmysql_dummy.c
library_output_directory/
mysql-test/mtr
mysql-test/mysql-test-run
packaging/rpm-common/my.cnf
packaging/rpm-common/mysql.logrotate
packaging/rpm-common/mysqlrouter.conf
packaging/rpm-common/mysqlrouter.service
packaging/rpm-common/mysqlrouter.tmpfiles.d
packaging/rpm-docker/my.cnf
packaging/rpm-docker/mysql.spec
packaging/rpm-fedora/mysql.spec
packaging/rpm-oel/mysql.spec
packaging/rpm-sles/mysql.spec
plugin/group_replication/libmysqlgcs/include/mysql/gcs/mysql_gcs.h
plugin/group_replication/libmysqlgcs/include/xcom/
plugin/group_replication/libmysqlgcs/xdr_gen/
plugin/rewriter/install_rewriter.sql
plugin/rewriter/uninstall_rewriter.sql
plugin/x/generated/
plugin_output_directory/
router/include/
router/router_config.h
router/src/harness/src/src_SHARED/
router/src/harness/src/src_STATIC/
router/src/http/include/mysqlrouter/http_auth_backend_export.h
router/src/http/include/mysqlrouter/http_auth_realm_export.h
router/src/json_schema_embedder/json_schema_embedder
router/src/mock_server/src/mysql_server_mock_schema.cc
router/src/mock_server/src/mysql_server_mock_schema.h
router/src/rest_api/include/mysqlrouter/rest_api_export.h
router/src/rest_router/include/
router/src/rest_routing/include/
router/src/routing/include/mysqlrouter/routing_export.h
runtime_output_directory/
scripts/make_binary_distribution
scripts/mysql_config
scripts/mysql_fix_privilege_tables.sql
scripts/mysql_fix_privilege_tables_sql.h
scripts/mysqlclient.pc
scripts/mysqld_multi
scripts/mysqld_safe
scripts/mysqldumpslow
scripts/sql_commands_help_data.h
scripts/sql_commands_system_data.h
scripts/sql_commands_system_tables.h
scripts/sql_commands_system_tables_data_fix.h
scripts/sql_commands_system_users.h
scripts/sys_schema/ALL_SYS_SCHEMA.sql
scripts/sys_schema/sql_commands.h
server_unittest_library.c
share/bulgarian/
share/czech/
share/danish/
share/dutch/
share/english/
share/estonian/
share/french/
share/german/
share/greek/
share/hungarian/
share/italian/
share/japanese/
share/korean/
share/norwegian-ny/
share/norwegian/
share/polish/
share/portuguese/
share/romanian/
share/russian/
share/serbian/
share/slovak/
share/spanish/
share/swedish/
share/ukrainian/
sql/keyword_list.h
sql/lex_hash.h
sql/lex_token.h
sql/sql_builtin.cc
sql/sql_hints.yy.cc
sql/sql_hints.yy.h
sql/sql_yacc.cc
sql/sql_yacc.h
strings/uca900_ja_tbls.cc
strings/uca900_zh_tbls.cc
support-files/mysql-log-rotate
support-files/mysql.server
CMakeLists.txt
